In [1]:
import re
import unicodedata
import pandas as pd
import nltk
import prep
import acquire

In [2]:
df = pd.read_csv('spam_clean.csv')

In [3]:
df = prep.basic_clean(df)

In [4]:
df.head(2)

  label                                               text
0   ham  go until jurong point crazy available only in ...
1   ham                            ok lar joking wif u oni

In [40]:
def bigram(string):
    return list(nltk.ngrams(string.split(),2))
def trigram(string):
    return list(nltk.ngrams(string.split(),3))

In [6]:
string = 'Mary had a little lamb'
bigrams = nltk.ngrams(string.split(),2)

In [7]:
df['bigrams'] = df.text.apply(bigram)

In [8]:
df.head(2)

,label,text,bigrams
0,ham,go until jurong point crazy available only in ...,"[(go, until), (until, jurong), (jurong, point)..."
1,ham,ok lar joking wif u oni,"[(ok, lar), (lar, joking), (joking, wif), (wif..."

In [38]:
bigrams = df.bigrams.apply(pd.Series).stack().tolist()

In [23]:
pd.Series(bigrams).value_counts()

(are, you)               175
(i, am)                  138
(have, a)                131
(you, are)               126
(you, have)              117
(do, you)                105
(i, will)                 99
(in, the)                 99
(if, you)                 96
(i, have)                 85
(to, be)                  83
(will, be)                83
(want, to)                83
(going, to)               76
(in, a)                   76
(i, was)                  75
(to, get)                 75
(i, can)                  71
(and, i)                  71
(have, to)                70
(this, is)                70
(but, i)                  69
(if, u)                   68
(on, the)                 66
(for, the)                62
(you, know)               60
(need, to)                60
(you, want)               60
(call, me)                59
(go, to)                  58
                        ...
(a, parked)                1
(click, the)               1
(at, amk)                  1
(big, 1)                   1
(hotel, dusk)              1
(donyt, feel)              1
(to, rcv)                  1
(not, imprtant)            1
(onam, to)                 1
(n, great)                 1
(love, what)               1
(offc, nd)                 1
(now, else)                1
(meeting, supervisor)      1
(baoday, 2)                1
(finish, work)             1
(their, doing)             1
(out, stop)                1
(happened, aftr)           1
(howz, painit)             1
(e, place)                 1
(updatenow, 12mths)        1
(lar, u'll)                1
(this, si)                 1
(2006, fifa)               1
(message, not)             1
(p, diddy)                 1
(for, thanksgiving)        1
(icky, american)           1
(kill, myself)             1
Length: 42682, dtype: int64

In [11]:
df.head(2)

,label,text,bigrams
0,ham,go until jurong point crazy available only in ...,"[(go, until), (until, jurong), (jurong, point)..."
1,ham,ok lar joking wif u oni,"[(ok, lar), (lar, joking), (joking, wif), (wif..."

In [26]:
df['txt_clean'] = df.text.apply(prep.remove_stopwords)
df['bigrams'] = df.txt_clean.apply(bigram)

In [28]:
bigrams = df.bigrams.apply(pd.Series).stack().tolist()

In [35]:
bigrams = df.bigrams.apply(pd.Series).stack().tolist()
print("bigrams of entire dataset")
pd.Series(bigrams).value_counts().head(15)

bigrams of entire dataset

(please, call)     53
(sorry, ')         52
(', ')             51
(call, later)      50
(', call)          45
(u, r)             41
(let, know)        39
(r, u)             39
(u, ')             33
(', going)         32
(wan, 2)           31
(good, morning)    30
(u, get)           25
(po, box)          25
(contact, u)       24
dtype: int64

In [37]:
print('bigrams of spam dataset')
bigrams = df[df.label == 'spam'].bigrams.apply(pd.Series).stack().tolist()
pd.Series(bigrams).value_counts().head(15)

bigrams of spam dataset

(please, call)          44
(contact, u)            24
(po, box)               24
(guaranteed, call)      23
(a1000, cash)           23
(prize, guaranteed)     22
(await, collection)     19
(every, week)           19
(send, stop)            19
(urgent, mobile)        18
(land, line)            18
(valid, 12hrs)          17
(2, claim)              17
(customer, service)     17
(account, statement)    16
dtype: int64

In [ ]:
bigrams = df[df.label == 'spam'].bigrams.apply(pd.Series).stack().tolist()

In [41]:
df['trigrams'] = df.txt_clean.apply(trigram)

In [42]:
df.head(3)

,label,text,bigrams,txt_clean,trigrams
0,ham,go until jurong point crazy available only in ...,"[(go, jurong), (jurong, point), (point, crazy)...",go jurong point crazy available bugis n great ...,"[(go, jurong, point), (jurong, point, crazy), ..."
1,ham,ok lar joking wif u oni,"[(ok, lar), (lar, joking), (joking, wif), (wif...",ok lar joking wif u oni,"[(ok, lar, joking), (lar, joking, wif), (jokin..."
2,spam,free entry in 2 a wkly comp to win fa cup fina...,"[(free, entry), (entry, 2), (2, wkly), (wkly, ...",free entry 2 wkly comp win fa cup final tkts 2...,"[(free, entry, 2), (entry, 2, wkly), (2, wkly,..."

In [43]:
trigrams = df.trigrams.apply(pd.Series).stack().tolist()
print("trigrams of entire dataset")
pd.Series(trigrams).value_counts().head(15)

trigrams of entire dataset

(', call, later)              41
(sorry, ', call)              38
(u, wan, 2)                   21
(prize, guaranteed, call)     21
(happy, new, year)            18
(land, line, claim)           14
(reply, call, 08000930705)    14
(2003, account, statement)    13
(pls, send, message)          13
(private, 2003, account)      13
(guaranteed, a1000, cash)     12
(phone, right, pls)           12
(shows, 800, unredeemed)      12
(camcorder, reply, call)      12
(cant, pick, phone)           12
dtype: int64

In [44]:
trigrams = df[df.label == 'spam'].trigrams.apply(pd.Series).stack().tolist()
print("trigrams of spam")
pd.Series(trigrams).value_counts().head(15)

trigrams of spam

(prize, guaranteed, call)     21
(reply, call, 08000930705)    14
(land, line, claim)           14
(private, 2003, account)      13
(2003, account, statement)    13
(camcorder, reply, call)      12
(guaranteed, a1000, cash)     12
(shows, 800, unredeemed)      12
(free, entry, 2)              11
(bonus, caller, prize)        11
(tone, 4, ur)                 11
(urgent, trying, contact)     11
(every, week, txt)            11
(please, call, customer)      11
(cash, await, collection)     10
dtype: int64

In [ ]:
df =