In [353]:
import pandas as pd
import numpy as np
import re
import io
import string

In [31]:
sentence = 'e'
re.search(r'[aeiou]', sentence,flags=re.I)

In [28]:
if re.search(r'[aeiou]', sentence):
    print('contains vowel')
else:
    print('does not contain vowel')

does not contain vowel

In [75]:
sentence = 'aet'
blob = re.search(r'[aeiou]+$', sentence)

In [71]:
type(blob)

re.Match

In [72]:
blob is None

False

In [77]:
#1 regex to find if a string is all vowels
def is_vowel(word):
    blob = re.search(r'[aeiou]+$', word)
    if blob is None:
        print("Not all vowels")
    else:
        print("All vowels")

In [238]:
username = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
#2 checks that username is all lowercase, 0-9, or _ and is 32 or fewer characters.
def is_valid_username(username):
    if re.search(r'[^a-z0-9_]',username) is None and len(username) <= 32:
        print(True)
    else:
        print(False)
is_valid_username(username)

False

In [227]:
len(username)

33

In [354]:
phone = ["(210) 867 5309","+1 210.867.5309","867-5309","210-867-5309"]

phone = pd.DataFrame(phone)
phone

                 0
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [129]:
phone[0].str.replace("("," ").str.replace(")",' ').str.replace('.')

0      210) 867 5309
1    +1 210.867.5309
2           867-5309
3       210-867-5309
Name: 0, dtype: object

In [132]:
mapping = {"(" : " " , ")" : " " , "+" : " " , "." : " " , "-":" "}

In [134]:
for k,v in mapping:
    phone.replace(k,v)

ValueError: not enough values to unpack (expected 2, got 1)

In [144]:
chars_to_remove = ["(",")","+",".","-"]

In [140]:
phone[0].translate(trans)

AttributeError: 'Series' object has no attribute 'translate'

In [145]:
blob = []
for p in phone[0]:
    p.translate(None,"".join(chars_to_remove))
    blob.append(p)

TypeError: translate() takes exactly one argument (2 given)

In [155]:
phones = '(210) 867 5309'

In [146]:
rx = "[" + re.escape("".join(chars_to_remove)) + "]"

In [157]:
re.sub(r'\D',' ',phones)

' 210  867 5309'

In [240]:
phone

                 0
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [239]:
#3 function to format phone number to strip all excess characters
def format_phone(numbers):
    blob = []
    for n in numbers:
        n = re.sub(r'\D',' ',n).strip()
        blob.append(n)
    blob = np.array(blob)
    return blob

In [355]:
clean_nums = format_phone(phone[0])

In [265]:
phone['clean'] = clean_nums

In [165]:
re.sub(r'\D',' ',phones)

' 210  867 5309'

In [191]:
phones = '1 210 867 5309'
re.findall(r'\w+',phones)

['1', '210', '867', '5309']

In [ ]:
date

In [266]:
phone

                 0           clean
0   (210) 867 5309   210  867 5309
1  +1 210.867.5309  1 210 867 5309
2         867-5309        867 5309
3     210-867-5309    210 867 5309

In [243]:
phones

'1 210 867 5309'

In [275]:
split_phones = phone.clean.str.extract(r'(\d+)?\s*(\d+)?\s*(\d+)?\s*(\d+)?\s*')

In [283]:
phone['nulls'] = split_phones.isnull().sum(axis=1) <1

In [352]:
def format_phone(numbers):
    blob = []
    for n in numbers:
        n = re.sub(r'\D',' ',n).strip()
        blob.append(n)
    blob = np.array(blob)
    return blob

In [284]:
blob = format_phone(

                 0           clean  nulls
0   (210) 867 5309   210  867 5309  False
1  +1 210.867.5309  1 210 867 5309   True
2         867-5309        867 5309  False
3     210-867-5309    210 867 5309  False

In [313]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
])

In [320]:
# change dates to US format
#date = '02/04/19'
#date = re.sub(r'\D',' ',date).strip()
dates_us = []
for d in dates:
    d = re.sub(r'\D',' ',d).strip()
    d = re.sub(r'(\d+)\s(\d+)\s(\d+)',r'20\3-\1-\2',d)
    dates_us.append(d)

In [321]:
dates_us

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

In [332]:
words = pd.read_csv('/usr/share/dict/words',header=None).iloc[:,0].dropna().str.lower()

In [333]:
def is_vowel(word):
    blob = re.search(r'[aeiou]+$', word)
    if blob is None:
        print("Not all vowels")
    else:
        print("All vowels")

In [334]:
((words.str.count(r'[aeiou]')) >= 3).sum()

191365

In [336]:
words.str.contains(r'[aeiou]{3,}').sum()

6182

In [346]:
words[words.str.contains(r'[^aeiouy]{6,}')]

12492     archchronicler
21118        bergschrund
64716      eschscholtzia
73886     fruchtschiefer
104560       latchstring
105552        lengthsman
122114        nachschlag
151826      postphthisic
227486       veldtschoen
Name: 0, dtype: object

In [351]:
#starts and ends with same letter
words[words.str.contains(r'^(z).*\1$')]

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

235344     zizz
235346    zmudz
Name: 0, dtype: object