In [4]:
import pyspark
import env
import pandas as pd
import numpy as np
from pydataset import data

In [5]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [6]:
np.random.seed(456)

pandas_dataframe = pd.DataFrame(dict(n=np.arange(20)))

In [7]:
df = spark.createDataFrame(pandas_dataframe)

In [24]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

+---+
|  n|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

In [11]:
import string
import random

In [15]:
def random_char(y):
    return random.choice('abc')

In [ ]:
df.apply(random_char)

In [16]:
df['letter'] = df.apply(random_char)

AttributeError: 'DataFrame' object has no attribute 'apply'

In [20]:
random.choice([chr(c) for c in xrange])

SyntaxError: invalid syntax (<ipython-input-20-f9fd22ef6aa8>, line 1)

In [28]:
blob = ",".join([random.choice(string.ascii_lowercase[0:3]) for _ in range(20)])

In [33]:
blob = list(blob)

In [36]:
blob = pd.Series(blob)

In [40]:
mpg_data = data('mpg')

In [44]:
df = spark.createDataFrame(mpg_data)

In [45]:
df.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [47]:
from pyspark.sql.functions import col

In [48]:
col('hwy') *2

Column<b'(hwy * 2)'>

In [88]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [89]:
df = spark.createDataFrame(pandas_dataframe)

In [90]:
#1.iii
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [91]:
#1.iv
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [92]:
#1.v
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [93]:
n_bool = df.select("n","abool")

In [94]:
#1.vi
n_bool.show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [95]:
#1.vii
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [96]:
#1.viii

df.selectExpr('group as group','abool as abool_diff').show(3)

+-----+----------+
|group|abool_diff|
+-----+----------+
|    z|     false|
|    x|     false|
|    z|     false|
+-----+----------+
only showing top 3 rows

In [97]:
#1.ix

df.selectExpr('group as group','n as n_more_fun').show(6)

+-----+--------------------+
|group|          n_more_fun|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [98]:
#2.ii
df.withColumn('n',((col('n') + 4))).show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|3.2876093379494122|    z|false|
| 4.753766378659703|    x|false|
|3.9554969216619464|    z|false|
|  4.45181233874579|    y|false|
|5.3451017084510095|    z|false|
| 4.532337888294546|    y|false|
| 5.350187899722527|    z|false|
|  4.86121137416932|    x|false|
| 5.478685737435897|    z| true|
| 2.954622869461466|    y| true|
|3.2110109750484512|    x|false|
| 2.738394054680931|    y|false|
| 4.562846785281032|    y| true|
|3.7566737481144377|    y| true|
| 4.913740704859677|    y|false|
| 4.317350922736336|    x|false|
| 4.127303280206981|    z|false|
| 6.150382967381113|    y| true|
| 4.606288656896298|    x|false|
|3.9732283500135592|    x| true|
+------------------+-----+-----+

In [99]:
#2.iii
df.withColumn('n',(col('n') - 5)).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
| -5.712390662050588|    z|false|
| -4.246233621340297|    x|false|
| -5.044503078338053|    z|false|
|  -4.54818766125421|    y|false|
|-3.6548982915489905|    z|false|
| -4.467662111705454|    y|false|
|-3.6498121002774733|    z|false|
|  -4.13878862583068|    x|false|
| -3.521314262564103|    z| true|
| -6.045377130538534|    y| true|
| -5.788989024951549|    x|false|
| -6.261605945319069|    y|false|
| -4.437153214718968|    y| true|
| -5.243326251885563|    y| true|
| -4.086259295140323|    y|false|
| -4.682649077263664|    x|false|
| -4.872696719793019|    z|false|
|-2.8496170326188874|    y| true|
| -4.393711343103702|    x|false|
| -5.026771649986441|    x| true|
+-------------------+-----+-----+

In [100]:
#2.iv
#df['n_by_2'].withColumn('n',(col('n') *2)).show()
from pyspark.sql.functions import lit

In [101]:
#df = df.withColumn("n_by_2",lit(0))

In [102]:
#2.iv
df.select('*',(df.n * 2).alias('n_x_2')).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|               n_x_2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|  -1.424781324101176|
|   0.753766378659703|    x|false|   1.507532757319406|
|-0.04450307833805...|    z|false|-0.08900615667610691|
| 0.45181233874578974|    y|false|  0.9036246774915795|
|  1.3451017084510097|    z|false|  2.6902034169020195|
|  0.5323378882945463|    y|false|  1.0646757765890926|
|  1.3501878997225267|    z|false|  2.7003757994450535|
|  0.8612113741693206|    x|false|  1.7224227483386412|
|  1.4786857374358966|    z| true|   2.957371474871793|
| -1.0453771305385342|    y| true| -2.0907542610770684|
| -0.7889890249515489|    x|false| -1.5779780499030978|
|  -1.261605945319069|    y|false|  -2.523211890638138|
|  0.5628467852810314|    y| true|  1.1256935705620628|
|-0.24332625188556253|    y| true|-0.48665250377112507|
|  0.9137407048596775|    y|false|   1.827481409719355|
| 0.31735092273633597|    x|false|  0.6347018454726719|
| 0.12730328020698067|    z|false| 0.25460656041396135|
|  2.1503829673811126|    y| true|   4.300765934762225|
|  0.6062886568962988|    x|false|  1.2125773137925977|
|-0.02677164998644...|    x| true|-0.05354329997288145|
+--------------------+-----+-----+--------------------+

In [103]:
#2.v
df = df.select('*',((df.n * 2)*-1).alias('n2'))

In [104]:
df.show(4)

+--------------------+-----+-----+-------------------+
|                   n|group|abool|                 n2|
+--------------------+-----+-----+-------------------+
|  -0.712390662050588|    z|false|  1.424781324101176|
|   0.753766378659703|    x|false| -1.507532757319406|
|-0.04450307833805...|    z|false|0.08900615667610691|
| 0.45181233874578974|    y|false|-0.9036246774915795|
+--------------------+-----+-----+-------------------+
only showing top 4 rows

In [106]:
#2.vi
df = df.select('*',(df.n ** 2).alias('n3'))

In [111]:
#2.vii
df_t = df.group + df.abool

In [117]:
#2.viii
df.show()

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   1.424781324101176|   0.507500455376875|
|   0.753766378659703|    x|false|  -1.507532757319406|  0.5681637535977627|
|-0.04450307833805...|    z|false| 0.08900615667610691|0.001980523981562...|
| 0.45181233874578974|    y|false| -0.9036246774915795| 0.20413438944294027|
|  1.3451017084510097|    z|false| -2.6902034169020195|  1.8092986060778251|
|  0.5323378882945463|    y|false| -1.0646757765890926|  0.2833836273138969|
|  1.3501878997225267|    z|false| -2.7003757994450535|  1.8230073645571279|
|  0.8612113741693206|    x|false| -1.7224227483386412|  0.7416850309986095|
|  1.4786857374358966|    z| true|  -2.957371474871793|  2.1865115100963415|
| -1.0453771305385342|    y| true|  2.0907542610770684|  1.0928133450529796|
| -0.7889890249515489|    x|false|  1.5779780499030978|  0.6225036814939958|
|  -1.261605945319069|    y|false|   2.523211890638138|   1.591649561264422|
|  0.5628467852810314|    y| true| -1.1256935705620628| 0.31679650370119145|
|-0.24332625188556253|    y| true| 0.48665250377112507| 0.05920766485667622|
|  0.9137407048596775|    y|false|  -1.827481409719355|  0.8349220757174602|
| 0.31735092273633597|    x|false| -0.6347018454726719| 0.10071160816160388|
| 0.12730328020698067|    z|false|-0.25460656041396135|0.016206125151457036|
|  2.1503829673811126|    y| true|  -4.300765934762225|   4.624146906402799|
|  0.6062886568962988|    x|false| -1.2125773137925977|   0.367585935481118|
|-0.02677164998644...|    x| true| 0.05354329997288145|7.167212429964917E-4|
+--------------------+-----+-----+--------------------+--------------------+

In [118]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [124]:
df = spark.createDataFrame(pandas_dataframe)

In [122]:
df = spark.sql("SELECT *")

In [125]:
df.createOrReplaceTempView('df')

In [130]:
df.show(2)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|-0.712390662050588|    z|false|
| 0.753766378659703|    x|false|
+------------------+-----+-----+
only showing top 2 rows

In [132]:
mpg = spark.createDataFrame(pydataset.data('mpg'))
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [134]:
mpg.createOrReplaceTempView('mpg')

In [136]:
my_df = spark.sql('''
SELECT 
    cty AS city,
    hwy AS highway,
    (cty+hwy)/2 AS avg_mileage
FROM mpg
''')

In [145]:
spark.sql('SELECT * FROM df').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [146]:
spark.sql('SELECT n,abool FROM df').show()

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
|  0.8612113741693206|false|
|  1.4786857374358966| true|
| -1.0453771305385342| true|
| -0.7889890249515489|false|
|  -1.261605945319069|false|
|  0.5628467852810314| true|
|-0.24332625188556253| true|
|  0.9137407048596775|false|
| 0.31735092273633597|false|
| 0.12730328020698067|false|
|  2.1503829673811126| true|
|  0.6062886568962988|false|
|-0.02677164998644...| true|
+--------------------+-----+

In [149]:
spark.sql('SELECT n,group as g FROM df').show(4)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
+--------------------+---+
only showing top 4 rows

In [151]:
spark.sql('SELECT n, n/2 as n2, n-1 as n3 FROM df').show()

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
|  0.8612113741693206|  0.4306056870846603| -0.1387886258306794|
|  1.4786857374358966|  0.7393428687179483|  0.4786857374358966|
| -1.0453771305385342| -0.5226885652692671|  -2.045377130538534|
| -0.7889890249515489|-0.39449451247577444| -1.7889890249515488|
|  -1.261605945319069| -0.6308029726595346|  -2.261605945319069|
|  0.5628467852810314|  0.2814233926405157| -0.4371532147189686|
|-0.24332625188556253|-0.12166312594278127| -1.2433262518855626|
|  0.9137407048596775| 0.45687035242983876|-0.08625929514032249|
| 0.31735092273633597| 0.15867546136816799|  -0.682649077263664|
| 0.12730328020698067| 0.06365164010349034| -0.8726967197930193|
|  2.1503829673811126|  1.0751914836905563|  1.1503829673811126|
|  0.6062886568962988|  0.3031443284481494|-0.39371134310370115|
|-0.02677164998644...|-0.01338582499322...| -1.0267716499864408|
+--------------------+--------------------+--------------------+

In [153]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [154]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [155]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [156]:
df.abool.cast('int')

Column<b'CAST(abool AS INT)'>

In [158]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [15]:
from pyspark.sql.functions import concat,col, lit
from pyspark.sql.functions import min, max, mean

In [7]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [8]:
df = spark.createDataFrame(pandas_dataframe)

In [11]:
df.select(min('n')).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [12]:
df.select(max('n')).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [16]:
df.select(mean('n')).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885217|
+------------------+

In [20]:
df.select(concat(lit('Group: '),col('group'))).show()

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: x|
+----------------------+

In [24]:
df.select(concat(col('group'),lit(': '),col('n'))).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+