In [53]:
import pandas as pd
import numpy as np
import pyspark
from pydataset import data
from pyspark.sql.functions import concat
from pyspark.sql.functions import lit
from pyspark.sql.functions import when
from pyspark.sql.functions import col

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [5]:
np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(n=np.arange(20), group=np.random.choice(list("abc"), 20))
)

In [14]:
language = ['Spanish','English','Chavacano','Python','SQL','copy_paste']
language = pd.DataFrame(language)

In [15]:
#pd.DataFrame(language).show(5)
df = spark.createDataFrame(language)

In [16]:
df.show(5)

+---------+
|        0|
+---------+
|  Spanish|
|  English|
|Chavacano|
|   Python|
|      SQL|
+---------+
only showing top 5 rows

In [18]:
mpg = spark.createDataFrame(data('mpg'))

In [19]:
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [21]:
mpg.select(*).show(1)

SyntaxError: invalid syntax (<ipython-input-21-890079d671a9>, line 1)

In [ ]:
mpg.select(concat(mpg.cyl, lit(" cylinders"))).show(5)

In [31]:
mpg.select(concat(lit('The '),mpg.year,mpg.model,lit(" has a "),mpg.cyl,lit(' cylinder engine'))).show(truncate=False)

+---------------------------------------------------------+
|concat(The , year, model,  has a , cyl,  cylinder engine)|
+---------------------------------------------------------+
|The 1999a4 has a 4 cylinder engine                       |
|The 1999a4 has a 4 cylinder engine                       |
|The 2008a4 has a 4 cylinder engine                       |
|The 2008a4 has a 4 cylinder engine                       |
|The 1999a4 has a 6 cylinder engine                       |
|The 1999a4 has a 6 cylinder engine                       |
|The 2008a4 has a 6 cylinder engine                       |
|The 1999a4 quattro has a 4 cylinder engine               |
|The 1999a4 quattro has a 4 cylinder engine               |
|The 2008a4 quattro has a 4 cylinder engine               |
|The 2008a4 quattro has a 4 cylinder engine               |
|The 1999a4 quattro has a 6 cylinder engine               |
|The 1999a4 quattro has a 6 cylinder engine               |
|The 2008a4 quattro has a 6 cylinder engine               |
|The 2008a4 quattro has a 6 cylinder engine               |
|The 1999a6 quattro has a 6 cylinder engine               |
|The 2008a6 quattro has a 6 cylinder engine               |
|The 2008a6 quattro has a 8 cylinder engine               |
|The 2008c1500 suburban 2wd has a 8 cylinder engine       |
|The 2008c1500 suburban 2wd has a 8 cylinder engine       |
+---------------------------------------------------------+
only showing top 20 rows

In [33]:
mpg.show(1)

+------------+-----+-----+----+---+--------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+
only showing top 1 row

In [48]:
mpg.select(mpg.model, when(mpg.trans.contains("auto"),"auto").otherwise('manual').alias('transmission')).show()

+------------------+------------+
|             model|transmission|
+------------------+------------+
|                a4|        auto|
|                a4|      manual|
|                a4|      manual|
|                a4|        auto|
|                a4|        auto|
|                a4|      manual|
|                a4|        auto|
|        a4 quattro|      manual|
|        a4 quattro|        auto|
|        a4 quattro|      manual|
|        a4 quattro|        auto|
|        a4 quattro|        auto|
|        a4 quattro|      manual|
|        a4 quattro|        auto|
|        a4 quattro|      manual|
|        a6 quattro|        auto|
|        a6 quattro|        auto|
|        a6 quattro|        auto|
|c1500 suburban 2wd|        auto|
|c1500 suburban 2wd|        auto|
+------------------+------------+
only showing top 20 rows

In [50]:
tips = spark.createDataFrame(data('tips'))

In [51]:
tips.show(2)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 2 rows

In [55]:
total_n = tips.count()

In [56]:
tips.groupby('smoker').count().select('*',(col('count')/total_n).alias("percent")).show()

+------+-----+-------------------+
|smoker|count|            percent|
+------+-----+-------------------+
|    No|  151| 0.6188524590163934|
|   Yes|   93|0.38114754098360654|
+------+-----+-------------------+

In [57]:
weather = spark.createDataFrame(data('seattle_weather'))

Exception: Not valid dataset name and no similar found! Try: data() to see available.