In [1]:
import env
import acquire
import split_scale

In [2]:
df_iris = acquire.wrangle_iris()

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id  species_id species_name
0           1           1       setosa
1           1           1       setosa
2           1           1       setosa
(150, 8)
Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width'],
      dtype='object')
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
species_id          int64
species_name       object
dtype: object
       measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
count      150.000000    150.000000   150.000000    150.000000   150.000000
mean        75.500000      5.843333     3.057333      3.758000     1.199333
std         43.445368      0.828066     0.435866      1.765298     0.762238
min          1.000000      4.300000     2.000000      1.000000     0.100000
25%         38.250000      5.100000     2.800000      1.600000     0.300000
50%         75.500000      5.800000     3.000000      4.350000     1.300000
75%        112.750000      6.400000     3.300000      5.100000     1.800000
max        150.000000      7.900000     4.400000      6.900000     2.500000

       species_id  species_id
count  150.000000  150.000000
mean     2.000000    2.000000
std      0.819232    0.819232
min      1.000000    1.000000
25%      1.000000    1.000000
50%      2.000000    2.000000
75%      3.000000    3.000000
max      3.000000    3.000000

In [3]:
df_iris.shape

(150, 8)

In [4]:
df_iris.describe()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000,2.000000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000,1.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000,1.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000,2.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000,3.000000