In [1]:
import env
import acquire
import split_scale
import pandas as pd
import numpy as np

In [2]:
df_iris = acquire.wrangle_iris()

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id  species_id species_name
0           1           1       setosa
1           1           1       setosa
2           1           1       setosa
(150, 8)
Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_id', 'species_id', 'species_name'],
      dtype='object')
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
species_id          int64
species_name       object
dtype: object
       measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
count      150.000000    150.000000   150.000000    150.000000   150.000000
mean        75.500000      5.843333     3.057333      3.758000     1.199333
std         43.445368      0.828066     0.435866      1.765298     0.762238
min          1.000000      4.300000     2.000000      1.000000     0.100000
25%         38.250000      5.100000     2.800000      1.600000     0.300000
50%         75.500000      5.800000     3.000000      4.350000     1.300000
75%        112.750000      6.400000     3.300000      5.100000     1.800000
max        150.000000      7.900000     4.400000      6.900000     2.500000

       species_id  species_id
count  150.000000  150.000000
mean     2.000000    2.000000
std      0.819232    0.819232
min      1.000000    1.000000
25%      1.000000    1.000000
50%      2.000000    2.000000
75%      3.000000    3.000000
max      3.000000    3.000000

In [3]:
df_excel, df_excel_sample = acquire.excel_reader()

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')
customer_id     object
gender          object
partner         object
dependents      object
payment_type    object
churn           object
dtype: object
     is_senior_citizen  phone_service  internet_service  contract_type  \
min                0.0            0.0               0.0            0.0
max                1.0            2.0               2.0            2.0

     monthly_charges  total_charges
min            18.25           18.8
max           118.75         8684.8

In [4]:
df_google, unique_categories = acquire.google_sheet()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
[[0, 1], [3, 1, 2], ['male', 'female'], [1, 0, 3, 4, 2, 5, 8], ['S', 'C', 'Q', nan]]

yay

In [7]:
print('y')

y