In [1]:
import pandas as pd
import numpy as np
import acquire

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [6]:
df = acquire.wrangle_titanic()

In [7]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [8]:
df.drop(columns=['deck'],inplace=True)

In [9]:
df.fillna(np.nan,inplace=True)

In [10]:
train,test = train_test_split(df,train_size=.8,random_state=123)

In [11]:
imp_mode = SimpleImputer(missing_values=np.nan,strategy='most_frequent')

imp_mode.fit(train[['embarked']])

train['embarked'] = imp_mode.transform(train[['embarked']])

test['embarked'] = imp_mode.transform(test[['embarked']])

In [12]:
imp_median = SimpleImputer(missing_values=np.nan,strategy='median')
train['age'] = imp_median.fit_transform(train[['age']])
train.age.isnull().sum()

0

In [13]:
int_encoder = LabelEncoder()
int_encoder.fit(train.embarked)
train.embarked = int_encoder.transform(train.embarked)

In [14]:
embarked_array = np.array(train.embarked)
embarked_array = embarked_array.reshape(len(embarked_array),1)

In [15]:
ohe = OneHotEncoder(sparse=False,categories='auto')

In [16]:
embarked_ohe = ohe.fit_transform(embarked_array)
embarked_ohe

array([[1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [17]:
test.embarked = int_encoder.transform(test.embarked)

In [18]:
embarked_array = np.array(test.embarked).reshape(len(test.embarked),1)

In [19]:
embarked_test_ohe = ohe.transform(embarked_array)