In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import warnings
warnings.filterwarnings("ignore")
import split_scale
from sklearn.feature_selection import SelectKBest, f_regression
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_squared_error,r2_score,explained_variance_score

import env
import wrangle
import features

In [2]:
#1. acquire, prep
df = wrangle.wrangle_churn()

In [44]:
#1b split, scale data
train,test = split_scale.split_my_data(df)
#scaler,train,test = split_scale.standard_scaler(train,test)

In [45]:
#X and y train and test
X_train = train.drop(columns='total_charges')
y_train = train[['total_charges']]
X_test = test.drop(columns='total_charges')
y_test = test[['total_charges']]

In [56]:
n_features = features.optimum_features(X_train,y_train,X_test,y_test)
n_features

4

In [57]:
selected_features = features.top_n_features(n_features,X_train,y_train)
selected_features

tenure             65.554045
monthly_charges    35.831610
contract_type       0.000000
internet_type      -0.000000
dtype: float64

In [48]:
X_train = X_train[selected_features.index]
X_test = X_test[selected_features.index]

In [54]:
lml = LinearRegression()
X_train

      tenure  monthly_charges  internet_type  contract_type
5472      72            99.15              2              3
5425      72            20.10              3              3
3563      44           104.15              2              1
2096       2            69.60              2              1
7008      21            53.15              1              3
2399       5            84.85              2              1
4929      17            79.85              1              2
5043      43            80.20              1              2
5240      64            70.15              1              2
847       20           105.85              2              1
6492      61            68.05              1              3
597       26            95.00              2              1
5466      70            75.50              1              3
2367      51            87.35              2              1
2950      24            76.10              2              1
2276       9            54.55              1              1
2017       2            91.15              2              1
787        5            67.95              1              1
4139      24            20.25              3              2
6063      71            24.75              3              3
3676       1            93.55              2              1
2111      12            50.95              1              1
4746      32            20.55              3              2
3346      15            49.10              1              1
1600       3            80.40              2              1
498       11            60.90              1              1
1644       2            20.35              3              1
6955      13            88.95              1              3
30         1            99.75              2              1
5689      67            25.25              3              3
...      ...              ...            ...            ...
6484      64            19.45              3              3
2050       4            25.20              1              1
4547      54            61.00              1              2
1847      31            55.25              1              1
1092       4            89.20              2              1
6752      47            73.60              1              3
6564      62            43.70              1              3
3325      61           106.45              2              1
2894       9            89.45              2              1
1363       3            75.85              2              1
3481       1            78.65              2              1
111       11            84.80              2              1
6368      57            19.60              3              3
942       11            70.20              2              1
5664      43            19.65              3              3
4169      63            84.00              1              2
4143      71            66.80              1              2
6782      25            24.75              3              3
6257      44            54.05              1              3
96        49           103.70              2              1
5857      61            86.45              1              3
1593       1            54.75              1              1
5243      27           101.90              2              2
6250      20            19.70              3              3
5862      46            20.25              3              3
5218      50           108.55              2              2
4060      49            56.30              1              2
1346      15            69.50              1              1
3454      18            80.65              2              1
3582       4            78.85              2              1

[5625 rows x 4 columns]

In [50]:
lml.fit(X_train,y_train)
lml_y_intercept = lml.intercept_
lml_coefficients = lml.coef_

In [51]:
y_pred_lml = lml.predict(X_train)
y_pred_lml

array([[6119.49762249],
       [3266.04966228],
       [4423.67466244],
       ...,
       [1295.98301128],
       [1889.51451186],
       [ 916.32447823]])

In [52]:
mse_lml = mean_squared_error(y_train,y_pred_lml)
mse_lml

534458.1882017775

In [53]:
r2_lml = r2_score(y_train,y_pred_lml)
r2_lml

0.8950722278746805