In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import warnings
warnings.filterwarnings("ignore")
import split_scale
from sklearn.feature_selection import SelectKBest, f_regression
import statsmodels.api as sm

import env
import wrangle

url = env.get_db_url('telco_churn')

In [4]:
#telco db
df = wrangle.wrangle_churn()
df.drop(columns=['customer_id'],inplace=True)

In [5]:
df.head()

   monthly_charges  tenure  total_charges   contract_type  internet_type
0             59.9       9         542.40  Month-to-month              1
1             73.9       4         280.85  Month-to-month              2
2             98.0      13        1237.85  Month-to-month              2
3             83.9       3         267.40  Month-to-month              2
4             69.4       9         571.45  Month-to-month              1