In [1]:
import pandas as pd
import requests

In [2]:
base_url = 'https://python.zach.lol'

In [3]:
#response = requests.get('https://python.zach.lol/api/v1/items')
response = requests.get(base_url + '/api/v1/items')

In [56]:
#acquire items
def get_items():
    base_url = 'https://python.zach.lol'    
    items = []
    data = response.json()
    page = []
    response = requests.get(base_url + '/api/v1/items')
    while page is not None:


        result = response.json()
        data = response.json()['payload']['items']
        page = result['payload']['next_page']
        if page is not None:
            response = requests.get(base_url + page)
        items += data
    return pd.DataFrame(items)

In [69]:
#df = get_the_damn_items()
df.to_csv(r'items.csv', index = None,header=True)

In [62]:
#acquire stores
def get_stores():
    base_url = 'https://python.zach.lol'
    response = requests.get(base_url + '/api/v1/stores')
    stores = []
    data = response.json()
    page = []

    while page is not None:


        result = response.json()
        data = response.json()['payload']['stores']
        page = result['payload']['next_page']
        if page is not None:
            response = requests.get(base_url + page)
        stores += data
    return pd.DataFrame(stores)

In [63]:
stores = get_stores()
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [70]:
#df = get_the_damn_items()
stores.to_csv(r'stores.csv', index = None,header=True)

In [45]:
request = requests.get(base_url + '/api/v1/stores')
request = request.json()
request

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [ ]:
response = requests.get(base_url + data['payload']['next_page'])

In [ ]:
data = response.json()
data

In [ ]:
df = pd.concat([df,pd.DataFrame(data['payload']['items'])]).reset_index()

In [ ]:
df

In [ ]:
response = requests.get(base_url + data['payload']['next_page'])

In [ ]:
data = response.json()
data
df = pd.concat([df,pd.DataFrame(data['payload']['items'])]).reset_index()

In [ ]:
df.shape

In [ ]:
data['payload']['next_page'] == None

In [64]:
#acquire sales
def get_sales():
    base_url = 'https://python.zach.lol'
    response = requests.get(base_url + '/api/v1/sales')
    sales = []
    data = response.json()
    page = []

    while page is not None:


        result = response.json()
        data = response.json()['payload']['sales']
        page = result['payload']['next_page']
        if page is not None:
            response = requests.get(base_url + page)
        sales += data
    return pd.DataFrame(sales)

In [65]:
sales = get_sales()

(913000, 5)

In [71]:
#df = get_the_damn_items()
sales.to_csv(r'sales.csv', index = None,header=True)

In [92]:
sales.head(2)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1

In [79]:
items = df
items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [78]:
stores.head(2)

            store_address   store_city  store_id store_state store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1        9255 FM 471 West  San Antonio         2          TX         78251

In [97]:
df = sales.merge(stores,left_on='store',right_on='store_id',how='left')

In [103]:
df = df.merge(items,left_on='item',right_on='item_id',how='left')

In [106]:
df.drop(columns=['store_id','item_id'],inplace=True)

In [107]:
df.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [ ]:
def get_opsd_data(use_cache=True):
    if use_cache and path.exists('opsd.csv'):
        return pd.read_csv('opsd.csv')
    df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
    df.to_csv('opsd.csv',index=False)
    return df

yay